@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');       /*importa do google fonts*/
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    /*background-image: url("fundo.jpg");*/
    background-color: #dddddd;
    /*background-color: #white;*/                           /*#vermelho verde azul (2 digitos para cada)*/
    /*background-color: rgb(35, 137, 195);*/
    /*background-color: hsla(165,81%,93%,0.5);*/            /*aceita tambem hsl sem transparencia*/
    /*color: black;*/
    /*color: rgb(0,0,0);*/
    color: rgba(0,0,0,1);                                   /*transparencia 0 a 1*/
}

div#interface{
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;                            /*cima direita baixo esquerda*/
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);                /*desl. lateral vertical espalhamento cor*/
    padding: 10px;                                          /*10px em todos lados*/
}

p{
    text-align: justify;
    text-indent:  50px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 780px;
    top: 70px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #88888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formatacao de imagens com legendas*/
/*nome_tag.nome_classe*/

figure.foto-legenda{    
    position: relative;    
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{        /*tudo que e img*/
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

/* ao passar mouse por cima */
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* formatacao do menu */

nav#menu{
    display: block;                 /* para flutuar pela tela */
}

nav#menu ul{                       /* para id menu que for ul*/
    list-style: none;
    text-transform: uppercase;
    position: absolute;            /* relativa fica presa no container, absoluta fica livre */
    top: -20px;
    left: 300px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;                    /* entre botoes */
    -webkit-transition: background-color 1s;        /* site prefixr para compatibilidade com navegadores antigos */
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;      /* muda cor ao passar o mouse */
}

nav#menu h1{
    display: none;
}

nav#menu a{                         /* para links */
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline;
}

section#corpo{
    display: block;
    width: 520px;
    float: left;                    /*funciona se objetos estiverem configurados em bloco*/
    border-right: 1px solid #606060;
    padding-right: 15px;
}

table#tabelaspec{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
}

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}